.Contact-header {
  background-color: #090909;
  color: white;
}

.Contact-main {
  min-height: auto;
  align-items: flex-start;
  padding: 3rem 0 3rem;
}

.Contact-left {
  padding: 3rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.Contact-right {
  padding: 2rem 1rem;
}

.Contact-footer {
  min-height: 5vh;
}

